@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background: url('/assets/backdrop.webp') no-repeat center center fixed;
    background-size: cover;
}