---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/assets/tic-tac-toe-logo.webp" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<img src="/assets/tic-tac-toe-logo.webp" alt="" class="outline-dashed rounded-3xl outline-gray-100/50 m-6 stroke" width="128px" height="auto">	
	</body>
</html>

<style>
	body{
		background: url('assets/backdrop.webp') no-repeat center center fixed;
		background-size: cover;
	}
</style>